@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('normalize.css');

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
  

html {
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 480px;
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 480px;
}

header {
    margin: 40px 0 20px 0;
}

h1 {
    padding: 0 30px 0px 30px;
    text-align: center;
    color: white;
    line-height: 1.5em;
}

p {
    font-family: 'Open Sans';
    color: white;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 50px 0 50px;
    margin-bottom: 30px;
}

.btn-register {
    display: block;
    margin: 0 auto 60px auto;
    padding: 10px 55px 10px 55px;
    border-radius: 30px;
    border: none;
    font-size: 0.8em;
    box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.4);
}

.link-register {
    font-family: inherit;
    text-decoration: none;
    color:hsl(257, 40%, 49%)
}

.logo {
    max-width: 40%;
}

.illustration img {
    padding: 40px;
    max-width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
}

.icon {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    fill: white;
}

.icon:hover {
    border: 1px solid hsl(300, 69%, 71%);
    fill: hsl(300, 69%, 71%);
}

.attribution {
    font-size: 11px;
    text-align: right;
}
.attribution a {
    color: hsl(300, 69%, 71%);
}

@media only screen and (min-width: 720px) {
    body {
        padding: 0 40px;
        max-width: 1120px;
        background-image: url('images/bg-desktop.svg');
        background-size: 1440px 820px;
    }

    main {
        display: grid;
        grid-template-columns: 58% 42%;
    }

    .logo {
        max-width: 150px;
        margin-bottom: 30px;
    }

    h1 {
        padding: 0;
        text-align: left;
    }

    p {
        text-align: left;
        padding: 0;
        margin-bottom: 15px;
    }

    .illustration img {
        max-width: 93%;
        padding: 0;
    }

    .btn-register {
        margin: 0 0 170px 0;
    }

    .social-media {
        display: flex;
        justify-content: right;
    }

    .btn-register:hover {
        background-color: hsl(300, 69%, 71%);
    }

    .btn-register:hover a {
        color: white;
    }
}